// Цвета
$primary-color: #00798A;
$secondary-color: #E32359;
$gray-color: #707070;
$light-gray: #D9D9D9;
$dark-gray: #212121;
$background-light: rgba(151, 202, 209, 0.08);

// Шрифты
$font-main: "Roboto", serif;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 20px;

// Границы и радиусы
$border-radius: 8px;
