* секция митап */
.how-meetup-works {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.meetup-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.meetup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(151, 202, 209, 0.08);
    border-radius: 8px;
    padding: 32px 0px;
    gap: 24px;
    width: 50%;
}

.meetup .read-more:hover{
    color: #E32359;
}

.meetup-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 60%;
}

.meetup-text h5 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.meetup-img {
    display: flex;
    flex-direction: column;
    height: 124px;
}

.meetup-text a {
    list-style: none;
    color: #00798A;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}