/* стили для страницы фильтрации всех мероприятий allevents.html*/
.events_near {
    display: flex;
    justify-content: space-between;
    margin: 70px 0px;
}

.events_near_block {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 12px;
    color: $dark-gray;
}

.events_near_block a {
    color: $dark-gray;
}

.events_near_block h1 {
    font-size: 28px;
    line-height: 36px;
}

.events_near_block .all_events_a {
    color: $primary-color;
    font-size: 20px;
    line-height: 28px;
    border-bottom: 4px solid $primary-color;
    width: min-content;
}

.events_near_location {
    width: 30%;
}

.modal{
    background-image: url('https://s3-alpha-sig.figma.com/img/bcec/e126/96db167c3c4cdaee18dc6334d5ee6f80?Expires=1740355200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=MiZ~wItua1kbjPZLMJoUt2ahL-tFc1UDoAEnqIrOyfmWEmic0DC-YS6tImdKRtVyqPKR0iGlgyh4fd7K2HoQGxaU6vvlmxEGOnW3AIMHBeXFaeruXtq9t~hAGegjKV8-zMRVnHAbD06RO7a3s0w15bTCUGD4PzBQ7QDbv5XpyyqTaKPAyD1gY2GlQTSmZC5PCTrEYokTfRv5hdmv-XEY7WXH-9MpFm1cEemKSHOwBEZTf7YrndgEaJrCz32btFTkZQAqfUqJdEBO0ZqU~YuuQmnyfEpbsmi8x5x64XA5NEgq2Xe89UICl8csc7aQFD66BOo4g1Z1FZpDbqUBhgbz3A__');
    opacity: 0.5;
    width: 350px;
    height: 285px;
    @include flex-center;
    position: relative;
}

.open-button{
    border-radius: $border-radius;
    border: 2px solid $primary-color;
    padding: 10px;
    background-color: #fff;
    outline: none;
    display: flex;
    align-items: center;
    gap: 8px;
    @include transition;
    cursor: pointer;
    color: $primary-color;
}

.open-button:hover{
    font-weight: 600;
}

.close-button{
    position: absolute;
    top: 6px;
    right: 6px;
    color: $primary-color;
    padding: 0px 4px;
    background-color: #fff;
    outline: none;
    border: none;
    @include transition;
    cursor: pointer;
}

.close-button:hover{
    background-color: $primary-color;
    color: #fff;
}

/* стили карточки мероприятия */
.events-list-filtered {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filtered-event-item {
    width: 80%;
    display: flex;
    height: 144px;
    gap: 12px;
    cursor: pointer;
    border-top: 1px solid $light-gray;
    padding-top: 16px;
}

.filtered-event-img {
    width: 160px;
    border-radius: $border-radius;
}

.filtered-event-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filtered-event-title:hover{
    color: $secondary-color;
}

.filtered-event-theme {
    font-size: $font-size-small;
    color: $gray-color;
    font-weight: 500;
    display: flex;
    gap: 4px;
}

/* стили фильтров */
.filters {
    display: flex;
    gap: 18px;
}

.filters-Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.filter-chosen {
    background-color: #F6F7F8;
    padding: 16px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    min-width: 160px;
}

.filter-chosen:hover {
    box-shadow: 1px 4px 8px black;
}
