/* стили секции1 */

.main-section {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 100px 0px;
    gap: 56px;
    width: 100%;
}

.main-section-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    width: 50%;
    height: 100%;
}

.main-section-text h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
}

.main-section p {
    font-size: 16px;
    line-height: 24px;
}

.main-section .join-meetup-btn {
    background-color: #00798A;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    min-width: 140px;
    width: 20%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.join-meetup-btn:hover {
    background-color: #E32359;
}
