/* стили футера */
footer {
    background-color: #212121;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer section {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #F6F7F8;
}

.footer-section {
    display: flex;
    align-items: center;
    gap: 16px;
}

.get-started {
    border: 1px solid #F6F7F8;
    border-radius: 8px;
    padding: 10px 14px;
    font-weight: 600;
    background-color: #212121;
    color: #F6F7F8;
    cursor: pointer;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.link-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 7px;
}

.link-item h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

footer a {
    color: #C5C4C4;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
}

footer a:hover{
    color: #fff;
}

.follow-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follow-us-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.social-media {
    display: flex;
    gap: 32px;
}

.apps {
    display: flex;
    gap: 12px;
}

.terms {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
    line-height: 20px;
}