/* секция города */
.pop-cities {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h5 {
    font-size: $font-size-base;
    line-height: 24px;
    font-weight: 500;
}

.pop-cities p {
    color: $gray-color;
    font-size: $font-size-base;
    line-height: 24px;
}

.pop-cities-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    gap: 42px;
    overflow-y: auto;
}

.pop-cities .city {
    @include flex-center;
    flex-direction: column;
    gap: 24px;
    cursor: pointer;
}

.pop-cities .city h5 {
    font-weight: 600;
}
